.bg img {
  float: right;
  background-size: 23%;
  height: 50%;
  width: 30%;

}

.box {
  text-align: center;
  width: 40%;
  padding: 10px;
  border: solid rgb(16, 233, 197);
  border-width: 10px;
  background-color: rgb(214, 209, 199);
  margin: auto;
  margin-bottom: 10px;
  box-sizing: border-box;
}