.bg img {
  float: right;
  bottom: 10px;
  background-size: 23%;
  height: 50%;
  width: 30%;

}

.box {
  text-align: center;
  width: 40%;
  padding: 10px;
  border: solid rgb(219, 174, 24);
  border-width: 10px;
  background-color: rgb(141, 174, 179);
  margin: auto;
  margin-bottom: 10px;
  box-sizing: border-box;
}